<% if logged_in? && current_user.admin? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>用户名</th>
      <th>邮箱</th>
      <th>查看/编辑/删除</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td>
          <%= user.name %>
          <% if user.admin? && user.superadmin? %>
            <button type="button" class="btn btn-info btn-sm">超级管理员</button>
          <% elsif user.admin? && !user.superadmin? %>
            <button type="button" class="btn btn-info btn-sm">管理员</button>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <div class="d-flex flex-row">
            <div class="item-h1">
              <%= link_to "查看", user_path(user), class: "btn btn-secondary btn-sm" %>&nbsp
            </div>
            <div class="item-h1">
              <% unless !current_user?(user) %>
                <%= link_to "编辑", edit_user_path(user), class: "btn btn-primary btn-sm" %>&nbsp
              <% end %>
            </div>
            <div class="item-h1">
              <% if current_user.admin? && !current_user?(user) && !user.admin? %>
                <%= link_to "删除", user, method: :delete, data: { confirm: "确定删除该用户?" }, class: "btn btn-danger btn-sm" %>&nbsp
            </div> 
            <div class="item-h1" id="<%= user.id %>-set-forbidden">
                <% if user.forbidden? %>
                  <%= render 'unforbidden', "@user": user %>
                <% else %>
                  <%= render 'forbidden', "@user": user %>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
<% else %>
<div class="card">
   <div class="card-header">
     Simple Auth
   </div>
   <div class="card-body text-center">
     <h4 class="card-title">Simple Authentication</h4>
     <p class="card-text">简单的用户验证Gem, 内置Bootstrap,Font Awesome, Kaminari</p>
     <%= link_to "更多信息", "#", class: "btn btn-danger" %>
   </div>
</div>
<% end %>



