<%= form_for(@article,
                url: (@article.new_record? ? articles_path : article_path(@article)),
                method: (@article.new_record? ? 'post' : 'put')
             ) do |f| %>
  <% if params[:preview] %>
    <%= @article.title %>
    <%= @article.content %>
  <% end %>
  <div class="form-group">
    <label>标题</label>
    <%= f.text_field :title, class:"form-control form-control-sm" %>
  </div>
  <div class="form-group">
    <label>内容</label>
    <%= f.text_area :content, class:"form-control" %>
  </div>
  <%= hidden_field_tag :user_id, current_user.id %>
  <div class="form-group">
    <%= f.submit @article.new_record? ? "新建文章" : "文章更新", class: "btn btn-outline-secondary"%>
    <%= f.submit "文章预览", name: "preview", class: "btn btn-outline-secondary" %>
  </div>
<% end %>


