<div class='col-md-2'>
  <div class="card">
    <div class="card-header text-secondary text-center">
      文章操作
    </div>
    <div class="card-body d-flex flex-column row-hl">
      <div class="p-1 item-hl align-self-center">
        <% if action_name == 'edit' %>
          <a href="<%= edit_article_path(@article) %>", class="btn <%= action_name == 'edit' ? 'btn-primary' : 'btn-outline-secondary' %>">编辑文章</a>
        <% else %>
          <a href="<%= new_article_path%>", class="btn <%= action_name == 'new' ? 'btn-primary' : 'btn-outline-secondary' %>">发布文章</a>
        <% end %>
      </div>
      <div class="p-1 item-hl align-self-center">
        <a href="<%= articles_path %>", class="btn <%= action_name == 'index' ? 'btn-primary' : 'btn-outline-secondary' %>">文章列表</a>
      </div>
    </div>
  </div>
</div>
