
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
  <%= link_to "SimpleAuth", root_path, class: "navbar-brand text-secondary" %>
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-bell fa-fw"></i>
                <span class="badge badge-secondary ml-0"><%= current_user.notifications_count %></span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "发布文章", new_article_path, class: "dropdown-item text-secondary" %>
              </div>
            </li>
 
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <% if current_user.avatar.to_s.size == 0 %>
                  <% if current_user.gender == "male" %>
                    <%= image_tag "male.jpeg", size: "25x25", class: "rounded-circle" %>
                  <% else %>
                    <%= image_tag "female.jpg", size: "25x25", class: "rounded-circle" %>
                  <% end %>
                <% else %>
                  <%= image_tag current_user.avatar.tiny.url, class: "rounded-circle" %>
                <% end %>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "#{current_user.name}", user_path(current_user), class: "dropdown-item text-secondary" %>
                <div class="dropdown-divider"></div>
                <%= link_to "个人资料设置", edit_user_path(current_user), class: "dropdown-item text-secondary" %>
                <%= link_to "文章列表", articles_path, class: "dropdown-item text-secondary" %>
                <div class="dropdown-divider"></div>
                <%= link_to "退出", logout_path, method: "delete", class: "dropdown-item text-secondary" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "注册", signup_path, class: "nav-link" %>
            </li class="nav-item">
            <li class="nav-item">
              <%= link_to "登录", login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
  </div>
</nav>


