<div class='col-md-10'>
  <div class="card mb-3">
    <div class="card-header text-secondary text-center">
      <%= @article.title %>
    </div>
    <div class="card-body">
      <div class="text-secondary text-center">
        <p><small><%= link_to "#{@article.user.name}", user_path(@article.user), class: "text-secondary" %> 发表于<%= time_ago_in_words(@article.created_at) %>前</small></p>
      </div>
      <div class="text-secondary">
        <p><%= @article.content %></p>
      </div>
    </div>
  </div>
  <%= render 'new_comment' %>
  <%= render 'comments' %>
</div>
