<div>
  <%= render 'errors' %>
  <%= form_for(@article,
                url: (@article.new_record? ? articles_path : article_path(@article)),
                method: (@article.new_record? ? 'post' : 'put')
              ) do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :title, class:"form-control", placeholder: "输入文章标题..." %>
    </div>
    <div class="form-group">
      <%= f.text_area :content, class:"form-control simplemde", rows: 15, placeholder: "输入文章正文..." %>
    </div>
    <%= hidden_field_tag :user_id, current_user.id %>
    
    <div class="d-flex flex-row row-hl">
      <div class="form-group item-hl mr-3">
        <label class="text-secondary">标签:</label>
        <div class="input-group-btn">
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#node-selector">
            <%= @article.category&.name || '这里选择标签...' %>
          </button>
        </div>
      </div>
      <div class="form-group item-hl mr-3">
        <label class="text-secondary">状态:</label>
        <select name="product[status]"  class="form-control text-secondary">
          <% [[Article::Status::On, '发布'], [Article::Status::Off, '不发布']].each do |row| %>
            <option value="<%= row.first %>" <%= 'selected' if @article.status == row.first %>><%= row.last %></option>
          <% end -%>
        </select> 
      </div>

      <div class="form-group item-hl">
        <label>&nbsp </label>
        <%= f.submit @article.new_record? ? "保存文章" : "编辑文章", class: "form-control btn-primary"%>
      </div>
    </div>
  <% end -%>
</div>

<div class="modal fade" id="node-selector" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">标签选择</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'tags/tags'%>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script>
    $(function () {
      document.querySelectorAll('.simplemde').forEach(function(editor) {
        var simplemde = new SimpleMDE({ 
          promptURLs: true,
          element: editor });

        inlineAttachment.editors.codemirror4.attach(simplemde.codemirror, {
          uploadUrl: '/pictures',
          extraHeaders: { 'X-CSRF-Token': Rails.csrfToken() }
        });
      });
    })
  </script>
<% end -%>
