<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>用户名</th>
      <th>邮箱</th>
      <th>编辑/删除</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td>
          <%= link_to "#{user.name}", user_path(user) %>
          <% if user.admin? && user.superadmin? %>
            <button type="button" class="btn btn-info btn-sm">超级管理员</button>
          <% elsif user.admin? && !user.superadmin? %>
            <button type="button" class="btn btn-info btn-sm">管理员</button>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% unless !current_user?(user) %>
            <%= link_to "编辑", edit_user_path(user), class: "btn btn-primary btn-sm" %>
          <% end %>
          <% if current_user.admin? && !current_user?(user) && !user.admin? %>
            <%= link_to "删除", user, method: :delete, data: { confirm: "确定删除该用户?" }, class: "btn btn-danger btn-sm" %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
