  <%= render 'shared/errors' %>
  <%= form_for(@user,
               url: (@user.new_record? ? users_path : user_path(@user)),
               method: (@user.new_record? ? 'post' : 'put')
              ) do |f| %>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">用户名</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">邮箱</label>
    <div class="col-sm-10">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">密码</label>
    <div class="col-sm-10">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">密码确认</label>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <%= f.submit @user.new_record? ? "用户注册" : "用户更新", class: "btn btn-primary"%>
      <% unless @user.new_record? %>
        <%= link_to "修改头像", new_portrait_path, class: "btn btn-primary" %>
      <% end %>
    </div> 
  </div>
  <% end %>
