<div class="card border-secondary mb-3">
  <div class="card-header">
    <div class="d-flex flex-row">
      <div class="item-hl">
        <strong><%= @user.name %></strong>
      </div>&nbsp
      <div class="item-h1">
        <% if current_user?(@user) %>
          <button type="button" class="btn btn-danger btn-sm">当前用户</button>
        <% end %>
      </div>&nbsp
      <div class="item-h1", id="set_name">
        <% if @user.admin? && @user.superadmin? %>
          <button type="button" class="btn btn-info btn-sm">超级管理员</button>
        <% elsif @user.admin? && !@user.superadmin? %>
          <button type="button" class="btn btn-info btn-sm">管理员</button>
        <% else %>
          <button type="button" class="btn btn-info btn-sm">普通用户</button>
        <% end %>
      </div>&nbsp
      <div class="item-h1", id="set_authorize">
        <% if current_user.superadmin? %>
          <% if @user.admin? && !@user.superadmin? %>
            <%= render 'unauthorize' %>
          <% elsif !@user.admin? && !@user.superadmin? %>
            <%= render 'authorize' %>
          <% else %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">邮箱</h4>
    <p class="card-text"><%= @user.email %></p>
    <% if @user.avatar.to_s.size == 0 %>
      <p><%= image_tag "avatar.jpeg", size: "25x25", class: "rounded-circle" %></p>
    <% else %>
      <p><%= image_tag @user.avatar.thumb.url %></p>
    <% end %>
  </div>
</div>

